#navigator {
  font: 400 16px/140% var(--font-family);
  padding-block: 20px;
  padding-inline: 32px;

  a:nth-child(1) span {
    font-weight: bold;
  }

  a:nth-child(2) {
    margin-inline: auto;
  }

  a:nth-child(3) {
    justify-self: end;
  }
}

nav#navigator a {
  column-gap: 8px;
  justify-self: start;
}

nav#menu {
  padding: 14px 32px;
  border-block: 1px solid var(--stroke-color);
  font: var(--text-sm);
  color: var(--text-color-secondary);

  justify-content: space-between;
}
