#hot {
  row-gap: 24px;
  padding-bottom: 24px;
}

#hot > div.grid.grid-flow-column {
  column-gap: 16px;
}

#hot > div.grid.grid-flow-column > div.grid {
  row-gap: 8px;
}

#hot > div.grid.grid-flow-column > div.grid > p {
  font: var(--text-lg);
  -webkit-line-clamp: 3;
}

#hot > div.grid.grid-flow-column > div.grid > div {
  position: relative;
  height: 160px;
}

#hot > div.grid.grid-flow-column > div.grid > div > span {
  top: 8px;
  left: 8px;
}
