#hot {
  row-gap: 24px;
  border-top: 1px var(--stroke-color) solid;
  padding-bottom: 24px;
}

#hot div.grid {
  column-gap: 16px;
}

#hot div.grid div {
  position: relative;
  height: 160px;
  width: 292px;
}

#hot div.grid div span {
  top: 8px;
  left: 8px;
}

#hot div.grid div p {
  font: var(--text-lg);
}
